@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100&family=Sen:wght@400;800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sen', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
.header {
    max-width: 950px;
    margin: 0 auto;
}
.main_menu {
    max-width: 950px;
    margin: auto;
}
.main_menu ul {
    background: #769962;
    margin-bottom: 0 !important;
}
.main_menu ul li a {
    list-style: none;
    color: #ffffff;
    transition: .6s;
}
.main_menu ul li {
    display: inline-block;
    padding: 10px;
    transition: .6s;
}
.main_menu ul li:hover {
    background: #8cb376;
}
.main_menu ul li a:hover {
    text-decoration: none;
}
.main_menu .activeMenu {
    background: #8cb376;
}
.header_content {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    background: aliceblue;
    border-radius: 8px;
}
.intro {
    padding-left: 8px;
    padding-top: 15px;
}
.intro p {
    margin: 0;
}
.intro h2 {
    color: #769962 !important;
}
.logo {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.logo img {
    width: 100%;
}
.user_info {
    max-width: 950px;
    margin: 5px auto;
    padding: 10px 0;
}
.customer_form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.user_info input {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}
.intro h2, .user_info h2 {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #665656;
}
.common_headline {
    font-size: 1.5em;
    font-weight: 600;
    color: #665656;
}
.content {
    margin: auto;
    max-width: 950px;
    /* border-top: 2px solid #000000; */
    /* border-bottom: 2px solid #000000; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
.fences_third_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    margin-bottom: 15px;
    text-align: center;
}
.single_row img {
    width: 100%;
}
.fences_fourth_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 15px;
}
.sidebar {
    padding-left: 10px;
    border-left: 2px solid #000000;
}
.single_column {
    margin-bottom: 15px;
}
.single_column img {
    width: 70%;
}
.reference {
    /* border-bottom: 2px solid #000000; */
    padding: 3px 0;
    max-width: 950px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}
.section_subtitle {
    font-size: 1.3em;
    font-weight: 600;
    color: #665656;
    margin-bottom: 5px;
}
.finials {
    padding-right: 10px;
}
.fence_content {
    margin: auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.ref_height {
    padding: 3px 0;
    max-width: 950px;
    margin: auto;
}
.custom_input_field {
    width: 100%;
}
.color_select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-color: #dee2e6;
}
footer {
    max-width: 950px;
    margin: 0 auto;
    background: aliceblue;
    padding: 5px;
}
footer a {
    color: #000000;
}
.footer_content {
    padding-top: 30px;
    margin-bottom: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
.footer_content textarea {
    width: 100%;
    resize: none;
}
.footer_content input {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
}

.no_margin_bottom {
    margin-bottom: 0 !important;
}
.bottom_text p {
    color: #000000;
    font-size: 14px;
}
.products_text, .web_address {
    font-size: 16px;
    margin-right: 5px;
}
.finials_img img {
    width: 50px;
    height: 50px;
}
.hardware_img img{
    width: 50px;
    height: 50px;
}

.form_contorl_select {
    width: 100%;
    padding: 2px;
}


/* GALLERY STYLING */
.gallery_content {
    max-width: 950px;
    margin: 10px auto;
}
.cwa-lightbox-image img {
    width: 100%;
}
.signle_item {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}
.image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.content_quick_ship {
    max-width: 950px;
    margin: 10px auto;
}
.border_bottom2px {
    border-bottom: 2px solid #000000;
}
.quick_ship_header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 3fr;
}
.quick_ship_logo img {
    width: 100%;
}
.sidemenu {
    margin-top: 20px;
}
.sidemenu ul li {
    display: inline-block;
    padding: 0 8px;
}
.top_contact_sidebar h3 {
    margin-bottom: 0;
    font-size: 1.5em;
}
.top_contact_sidebar h3 span{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 700;
}
.quick_ship_form {
    margin-top: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
.quick_input input {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
}
.one_third {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}
.single_thumb img {
    width: 100%;
}
.gate_table table {
    border-color: #ffffff !important;
}
.gate_table .table-bordered thead td, .table-bordered thead th {
    font-weight: 500 !important;
}
.gate_table thead {
    background-color: #769962;
    color: #fff;
}
.gate_table thead span {
    font-size: 14px;
    font-weight: 300;
}
.gate_table tbody span {
    font-size: 12px;
    font-weight: 300;
}
.residential_table_bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.residential_left_text {
    flex-basis: 49%;
}
.residential_right_text {
    flex-basis: 49%;
}
.residential_right_text h3 {
    font-size: 1.2em;
    font-weight: 600;
}
.residential_right_text ul {
    margin-left: 15px;
}
.fillupform_th th {
    font-weight: 400;
}
.one_half {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}
.quick_ship_content {
    max-width: 950px;
    margin: auto;
}
.common_content {
    max-width: 950px;
    margin: auto;
}
.common_row {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    margin-top: 5px;
    margin-bottom: 10px;
}
.grid_content {
    border: 1px solid #1c3966;
}
.grid_one {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.one_seven {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.single_hardware {
    border: 1px solid #1c3966;
}
.single_hardware p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    height: 50px;
}
.table-bordered td, .table-bordered th {
    font-weight: 500 !important;
}
.postImage img {
    width: 100%;
}
.recommended_guideline p {
    font-weight: 500;
}

.fency_hover_img_one {
    position: absolute;
    width: 300%;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
}
.img_fency_style_one {
    position: relative;
}
.img_fency_style_one:hover .fency_hover_img_one {
    visibility: visible;
    opacity: 1;
}
